<h1 class="page-header"> available Books</h1>
<% @books.each do |book| %>
<h2><%= book.title %> </h2>
<div class="jumbotron">
  <%= book.description %>
    <br>
  <div class="badge">
    <%= book.author %>
  </div>
</div>
<%end%>
