<!DOCTYPE html>
<html>
<head>
  <title>BookReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
    <div style="background-color: blueviolet;height: auto ">
      <div class="container" style="background-color:cornsilk;align-content: center ">
          <%= yield %>
      </div>
    </div>
</body>
</html>
